[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
numpy = "*"
d = "*"
scikit-learn = "*"
google-genai = "*"
dotenv = "*"
gunicorn = "*"
supabase = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
